# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env

# Flask uploads
backend/uploads/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Node (se algum dia usar)
node_modules/
dist/
build/
